* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header1 {
  border-bottom: 1px solid #ccd0d6f6;
  width: 100%;
  height: 40px;
}
.service {
  margin: 0px 80px;
  display: inline-block;
}
.service_item {
  margin: 10px 15px;
  list-style: none;
  display: inline-block;
}
.service_item:hover {
  color: blue;
  transition: all 0.3s;
  border: 2px blue;
  cursor: pointer;
}
.about_item {
  position: absolute;
  right: 130px;
  top: 10px;
  list-style: none;
  display: flex;
}
.about_item_write {
  margin: 0px 10px;
  padding: 0px 7px;
  border-right: 2px solid black;
}
.social_media_item {
  list-style: none;
  margin: 0px 10px;
}
.social_media_icons_item {
  display: flex;
}
.social_media_item:hover,
.about_item_write:hover {
  color: blue;
  transition: all 0.3s;
  cursor: pointer;
}
.header2 {
  width: 100%;
  height: 80px;
  display: flex;
  align-content: center;
  align-items: center;
}
.about_list {
  list-style: none;
  display: flex;
}
.about_list_item {
  margin: 0px 15px;
  font-size: 19px;
}
.about_list_item:hover {
  color: red;
  transition: all 0.3s;
  cursor: pointer;
}

.sup {
  border: 3px solid red;
  background-color: red;
  color: black;
  border-radius: 10px;
}
.logo {
  margin: 0px 90px;
}
.add_to_card {
  display: flex;
  list-style: none;
  margin: 0px 65px;
}
.social_media {
  margin: 0px 10px;
  font-size: 25px;
}
.social_media:hover {
  color: red;
  transition: all 0.3s;
  cursor: pointer;
}

.sale_up {
  border: 1px solid black;
  width: auto;
  height: 45px;
  background-color: black;
}
.write_sale_up {
  color: white;
  text-align: center;
  margin: 12px 0px;
}
.shop_now {
  color: #cebd9c;
  cursor: pointer;
}
.shop_now:hover {
  border-bottom: 3px solid #cebd9c;
  transition: all 0.2s;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background: #6c757d;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.card {
  width: 100%;
  height: 320px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 35px;
}
.box1 {
  border: 1px solid red;
  width: 360px;
  margin: 10px 0px;
}
.items1 {
  min-width: 100%;
  max-height: 100%;
}
.box2 {
  border: 1px solid red;
  width: 360px;

  margin: 10px 0px;
}
.box3 {
  border: 1px solid red;
  width: 360px;

  margin: 10px 0px;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 992px) {
  .service,
  .about_item,
  .header1,
  .about_list {
    display: none;
  }
  .logo {
    display: block;
    margin-left: 0px;
  }
}
